@import './styles/_Header';
@import './styles/_Hero';
@import './styles/_Features';
@import './styles/_Footer';

@import './styles/_DesktopNav';
@import './styles/_MobileNav';

// Base styles
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
  position: relative;
}

// Content Wrapper
.content-wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  border: 1px solid orange;
}